.crud-guide-card {
    display: flex;
    flex-direction: column;
}

.crud-guide-card .guide-detail-image img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: contain;
    margin: 1.5rem 0;
    border-radius: 8px;
    background: var(--neutral-100);
}

.guide-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.crud-guide-card a {
    color: var(--primary-700);
    text-decoration: underline;
}


