#login, #sign-up, #onboarding {
    min-height: 100dvh;
    display: flex;
    background: var(--neutral-50);
}

#login .auth-left,
#sign-up .auth-left,
#onboarding .auth-left {
    width: 50%;
    min-height: 100%;
    padding: 3.2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#login .logo img,
#sign-up .logo img,
#onboarding .logo img {
    width: 7.5rem;
    margin-bottom: 1.5625rem;
    transition: .3s;
    cursor: pointer;
}

#login h2,
#sign-up h2,
#onboarding h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: center;
}

#login .subtitle,
#sign-up .subtitle,
#onboarding .subtitle {
    color: #555;
    font-size: .9rem;
    margin: 0.25rem 0 2rem;
    text-align: center;
}

#onboarding form:not(.profile-setup-form) {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login form, 
#sign-up form,
#onboarding form.profile-setup-form {
    width: 100%;
    max-width: 23.75rem;
}

.wrapper {
    padding-top: 2rem;
    border-top: 1px solid var(--neutral-400);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
}

.onboarding .btn {
    max-width: 23.75rem;
}

.checkbox-row {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.375rem;
    font-size: 0.875rem;
}

.checkbox-mini {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-mini label {
    margin-bottom: 0;
}

.checkbox-mini input {
    accent-color: var(--primary-600);
    width: 1.125rem;
    height: 1.125rem;
}

.forgot {
    color: var(--neutral-700);
    font-weight: 600;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

/* google button */
.btn.btn-google {
    width: 100%;
    margin-top: .65rem;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    background: var(--white);
    color: var(--neutral-600);
}

.btn-google img {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
}

.signup-cta {
    margin-top: 1.125rem;
    text-align: center;
    font-size: 0.9rem;
}

.signup-cta a {
    font-weight: 600;
    color: var(--neutral-700);
}

.signup-cta a:hover {
    text-decoration: underline;
}

.auth-right {
    width: 50%;
    min-height: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 4rem 3rem;
    display: flex;
    align-items: end;
    z-index: 1;
    position: sticky;
    top: 0;
}

.auth-right::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    filter: blur(20px);
    background: rgba(0,0,0, .35);
}

#login .auth-right {
    background-image: url('/assets/sample-images/login.jpg');
}

#sign-up .auth-right {
    background-image: url('/assets/sample-images/register.jpg');
}

#onboarding .auth-right {
    background-image: url('/assets/sample-images/onboarding.jpg');
}

.right-text h1 {
    color: var(--white);
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1rem;
}

.right-text p {
    max-width: 35rem;
    font-size: 1rem;
    opacity: .94;
    color: var(--neutral-200);
}

#onboarding .prev-btn {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: var(--neutral-600);
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 940px) {
    body {
        flex-direction: column;
        overflow-y: auto;
    }

    #login, 
    #sign-up,
    #onboarding {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #login .auth-left,
    #sign-up .auth-left,
    #onboarding .auth-left{
        width: 90%;
        max-width: max-content;
        max-height: max-content;
        background: var(--neutral-50);
        padding: 3rem;
        border-radius: 1.125rem;
        margin: 2.5rem auto;
        position: relative;
        z-index: 3;
        backdrop-filter: blur(6px);
        box-shadow: 0 0 15px rgba(0,0,0,.05);
    }

    .auth-right {
        width: 100%;
        min-height: 100vh;
        max-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .right-text {
        display: none;
    }
}

@media (max-width: 450px) {
    #login .auth-left,
    #sign-up .auth-left,
    #onboarding .auth-left{
        padding: 1.5rem;
        margin: 1.5rem auto;
    }

    .checkbox-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .checkbox-row .forgot {
        order: -1;   
        align-self: flex-end;
    }
}
