#custom-search-recipes-page {
    padding-block: 4rem;
}

#custom-search-recipes-page .container {
    display: flex;
    gap: 4rem;
}

#custom-search-recipes-page .custom-search-recipes-left {
    flex: 1;
}

#custom-search-recipes-page .custom-search-recipes-left h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: clamp(2.2rem, 4vw, 3rem);
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.1;
}

#custom-search-recipes-page .custom-search-recipes-right {
    flex: 1;
    padding: 2rem;
    border: 1px solid var(--neutral-400);
    border-radius: 5px;
}

.custom-search-form-btns {
    display: flex;
    gap: 0.75rem;
}

@media (max-width: 900px) {
    #custom-search-recipes-page .custom-search-recipes-left h1 {
        line-height: 1.2;
        font-size: clamp(2rem, 4vw, 3rem);
    }

    #custom-search-recipes-page .custom-search-recipes-right {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    #custom-search-recipes-page {
        padding-block: 3rem;
    }

    #custom-search-recipes-page .container {
        flex-direction: column;
        gap: 2rem;
    }

    #custom-search-recipes-page .custom-search-recipes-left,
    #custom-search-recipes-page .custom-search-recipes-right {
        flex: unset;
    }
}
