#guides-page {
    padding-block: 4rem;
}

.guides-page-title {
    text-align: center;
    font-size: clamp(4rem, 10vw, 5rem);
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.guides-page-about {
    text-align: center;
    font-size: 1rem;
    color: var(--muted);
    max-width: calc(800px * var(--ui-scale));
    margin: 0 auto 3rem auto;
}

.guides-page-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem 1rem;
}

.guide-card-image {
    border: 1px solid var(--line);
    width: 100%;
    height: 160px;
    overflow: hidden;
    box-shadow: 
        0 4px 10px rgba(0,0,0,.06),
        0 1px 4px rgba(0,0,0,.04);
    border-radius: 8px;
}

.guide-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guide-card-title {
    margin-top: .85rem;
    font-size: 1.125rem;
}

.guide-card-excerpt {
    margin-top: .25rem;
    font-size: 1rem;
    color: var(--muted);
}

.guide-card-date {
    font-size: .85rem;
    color: var(--neutral-500);
    margin-top: .5rem;
    font-weight: 500;
}

/* search bar (main design in init.css) */
.search-and-filters form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: max-content;
    max-height: 100px;
}

.search-and-filters .input-group {
    width: 100%;
}

#guides-page .search-and-filters .dropdown-trigger {
    border-radius: 6px;
    height: 100%;
    padding-inline: 1rem;
    border-color: var(--neutral-500);
}

.filters {
    display: flex;
    align-items: center;
}

.filters p.filters-text {
    display: none;
}

@media (max-width: 640px) {
    .search-and-filters form {
        flex-direction: column;
    }

    .search-and-filters .input-group {
        order: -1;
    }

    .filters p.filters-text {
        display: block;
        margin-right: .5rem;
        font-size: 0.95rem;
        color: var(--neutral-700);
    }
}