#guides-page {
    padding-block: 4rem;
}

.guides-page-title {
    text-align: center;
    font-size: clamp(2.2rem, 10vw, 3rem);
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.guides-page-about {
    text-align: center;
    font-size: 1rem;
    color: var(--muted);
    max-width: calc(800px * var(--ui-scale));
    margin: 0 auto 2rem auto;
}

/* search bar (main design in init.css) */
.search-and-filters form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: max-content;
    max-height: 100px;
}

.search-and-filters .input-group {
    width: 100%;
}

#guides-page .search-and-filters .dropdown-trigger {
    border-radius: 6px;
    height: 100%;
    padding-inline: 1rem;
    border-color: var(--neutral-500);
}

.filters {
    display: flex;
    align-items: center;
}

.filters p.filters-text {
    display: none;
}

@media (max-width: 900px) {
    .guides-page-title {
        font-weight: 700;
        text-align: left;
        font-size: clamp(2rem, 4vw, 3rem);
        line-height: initial;
    }

    .guides-page-about {
        text-align: left;
    }
}

@media (max-width: 760px) {
    #guides-page {
        padding-block: 3rem;
    }

    .search-and-filters form {
        flex-direction: column;
    }

    .search-and-filters .input-group {
        order: -1;
    }

    .filters p.filters-text {
        display: block;
        margin-right: 0.5rem;
        font-size: 0.95rem;
        color: var(--neutral-700);
    }
}
