@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ui-scale: 0.9;

    --green:#2fb248;
    --green-dark:#299b3f;
    --mint:#effff2;
    --muted:#4b4b4b;
    --line:#e1e1e1;
    --white:#fff;
    --text: #1f1f1f;


    --primary-700: #299B3F;
    --primary-600: #2FB248;
    --primary-500: #4EC565;
    --primary-400: #70D583;
    --primary-300: #89E79C;
    --primary-200: #B1F5BF;
    --primary-100: #D1FFDA;
    --primary-50:  #e4ffe9;

    --secondary-700: #DF7C29;
    --secondary-600: #F58D36;
    --secondary-500: #FFA961;
    --secondary-400: #FFB87D;
    --secondary-300: #FFCA9F;
    --secondary-200: #FFE1C8;
    --secondary-100: #FFF0E3;
    --secondary-50:  #FFF7F0;

    --accent-info-700: #017AD3;
    --accent-info-600: #0C8CE9;
    --accent-info-500: #2C9DEF;
    --accent-info-400: #48ACF4;
    --accent-info-300: #64B9F6;
    --accent-info-200: #91CEFA;
    --accent-info-100: #CFE8FF;
    --accent-info-50:  #F4FAFF;

    --neutral-700:#1f1f1f;
    --neutral-600: #4B4B4B;
    --neutral-500: #8E8E8E;
    --neutral-400: #CACACA;
    --neutral-300: #E1E1E1;
    --neutral-200: #EEEEEE;
    --neutral-100: #F5F5F5;
    --neutral-50: #FAFAFA;

    --danger-700: #EC2D30;
    --danger-600: #F64C4C;
    --danger-500: #EB6F70;
    --danger-400: #F49898;
    --danger-300: #FFCCD2;
    --danger-200: #FFEBEE;
    --danger-100: #FEF2F2;
    --danger-50: #FFFBFB;


    --radius: calc(16px * var(--ui-scale));
    --maxw: calc(1280px * var(--ui-scale));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

html {
    scroll-behavior: smooth;
    font-size: calc(16px * var(--ui-scale));
}

body {
    color: var(--text);
    margin: 0;
    background: var(--neutral-50);
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input, textarea, select {
    resize: none;
    font-size: inherit;
    font-family: inherit;
}

label {
    font-size: .9rem;
    color: var(--neutral-600);
    display: block;
    margin-bottom: .25rem;
}

input, textarea, select {
    outline: none;
    border: none;
    width: 100%;
    font-size: .9rem;
}

input[type="text"]:not(.password-input input[type='text']),
input[type="email"],
input[type="date"],
.password-input,
.nohp-input,
select,
textarea {
    width: 100%;
    padding: 0.75rem 0.875rem;
    border-radius: 6px;
    border: 1px solid var(--neutral-500);
    background: #ffffff;
    transition: 0.2s;
}

input[type="text"]:focus:not(.password-input input[type='text']),
input[type="email"]:focus,
input[type="date"]:focus,
.nohp-input:has(input:focus),
.password-input:has(input[type="password"]:focus, input[type='text']:focus),
textarea:focus, select:focus {
    border-color: var(--primary-600);
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.15);
}

.input-group + .input-group {
    margin-top: 1rem;
}

.nohp-input,
.password-input {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.nohp-input {
    gap: 0;
    padding: 0;
    overflow: hidden;
}

.nohp-input input {
    padding: 0.75rem 0.875rem;
}

.nohp-input .phone-identifier{
    font-size: .9rem;
    font-weight: 500;
    padding: 0.75rem 0.875rem;
    background: var(--neutral-300);
    border-right: 1px solid var(--neutral-500);
}

/* for password input */
.eye-btn:hover {
    opacity: 1;
}

.password-input .eye-btn {
    cursor: pointer;
    color: var(--neutral-500);
}

.green-block {
    color: var(--white);
    display: inline-block;
    background: var(--primary-600);
    padding: calc(4px * var(--ui-scale)) calc(18px * var(--ui-scale));
    border-radius: calc(6px * var(--ui-scale));
}

.container {
    width: min(100%, var(--maxw));
    margin-inline: auto;
    padding-inline: 2rem;
}

.btn {
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.575rem 2rem;
    border-radius: 0.625rem;

    font-weight: 500;

    cursor: pointer;
    transition: 0.2s ease;

    border: calc(1.5px * var(--ui-scale)) solid transparent;
    white-space: nowrap;
    font-size: .9rem;

}

.btn:hover {
    filter: brightness(.95);
    transform: translateY(calc(-2px * var(--ui-scale)));
}

.btn-fill {
    background: var(--green);
    color: var(--white);

    /* box-shadow:
        0 calc(8px * var(--ui-scale))
        calc(20px * var(--ui-scale))
        rgba(47, 178, 72, 0.25); */
}

.btn-sm {
    font-size: .85rem;
    padding: 0.425rem 1.25rem;
}

.btn-full {
    width: 100%;
}

.btn-pill {
    background: var(--green);
    color: var(--white);

    border-radius: calc(42px * var(--ui-scale));
    padding: 0.5rem 1.625rem;
}

.btn-line {
    background: var(--white);
    border-color: var(--green-dark);
    color: var(--green-dark);
}

.btn-line:hover {
    background: var(--mint);
    transform: translateY(calc(-2px * var(--ui-scale)));
}

.flash {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    /* padding-inline: 1rem; */
    padding-inline: 0.875rem;
    font-size: .9rem;
    border: 1px solid var(--type-bold);
    background: var(--type-bg);
    color: var(--type-bold);
}

.flash > * {
    padding-block: .75rem;

}

.flash-success {
    --type-bold: var(--primary-700);
    --type-bg: var(--primary-100);
}

.flash-error {
    --type-bold: var(--danger-700);
    --type-bg: var(--danger-100);
}

.flash-info {
    --type-bold: var(--accent-info-700);
    --type-bg: var(--accent-info-100);
}

.flash button.close-btn {
    background: none;
    border: none;
    border-left: 1px solid var(--type-bold);
    padding-left: .75rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--type-bold);
}


/* custom dropdown */
.dropdown, .profile-dropdown {
    position: relative;
    width: max-content;
    color: var(--neutral-700);
}

.dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem .75rem;
    border-radius: 999px;
    border: 1px solid var(--line);
    background: var(--white);
    cursor: pointer;
    font-weight: 500;
}

.dropdown-trigger i {
    font-size: .75rem;
    transition: transform .2s ease;
}

.dropdown.open .dropdown-trigger i {
    transform: rotate(180deg);
}

.dropdown-menu {
    --size: 13rem;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    min-width: 100%;
    background: var(--white);
    border: 1px solid var(--line);
    border-radius: .75rem;
    box-shadow: 0 8px 30px rgba(0,0,0,.08);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: .2s ease;
    z-index: 1000;
    padding: .85rem;
}

.profile-dropdown .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown.open .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.profile-dropdown.open .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.profile-dropdown-desc {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-bottom: 0.85rem;
    margin-bottom: 0.575rem;
    border-bottom: 1px solid var(--neutral-300);
}

.profile-dropdown-desc .profile-info {
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    min-width: 0;
}

.profile-dropdown-desc .profile-info h4,
.profile-dropdown-desc .profile-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.profile-dropdown-desc .profile-info h4 {
    font-weight: 600;
}

.profile-dropdown-desc img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--neutral-400);
}

.dropdown-item {
    min-width: calc(var(--size) * var(--ui-scale));
    font-size: .9rem;
    padding: 0.575rem 1rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.dropdown-item.active {
    font-weight: 500;
    background: var(--neutral-50);
}

.profile-dropdown .dropdown-item {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.profile-dropdown .dropdown-item button{
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.dropdown-item:hover {
    background: var(--neutral-50);
}


/* recipe cards and container */
.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.recipe-image {
    width: 100%;
    aspect-ratio: 16 / 10;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: 1px solid var(--neutral-300);
}

.recipe-tags {
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-content h3 {
    font-size: 1.125rem !important;
    font-weight: 600;
    margin-top: .75rem;
}

.recipe-info {
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
    font-size: .85rem;
    color: var(--neutral-600);
}


.recipe-info-list {
    display: flex;
    align-items: center;
    gap: .25rem;
}

/* class utility */
.hide {
    opacity: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 2rem;
}


.error-text {
    color: var(--danger-700);
    font-size: .8rem;
    margin-top: .25rem;
    display: inline-block;
}

/* ===== Reveal ===== */
.reveal-on-scroll{
    opacity:0;
    transform:translateY(calc(16px * var(--ui-scale)));
}

/* ===== Animations ===== */
@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
