/* ===== NAVBAR ===== */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--white);
    border-bottom: 1px solid var(--line);
    padding-block: 0.25rem;
}

.nav {
    height: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-content {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    width: 100%;
}

.logo {
    width: 5rem;
    height: 5rem;
    flex: 0 0 auto;
    display: grid;
    place-items: center;
}

.logo img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
}

.nav-links a {
    color: var(--text);
    opacity: 0.9;
}

.nav-links a.active {
    color: var(--primary-700);
}

.nav-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1.75rem;
    font-weight: 500;
}

.hamburger,
.nav-search-toggle {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--line);
    background: var(--white);
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    flex-direction: column;
    gap: 0.25rem;
    text-align: center;
}

.hamburger span {
    display: block;
    width: 1rem;
    height: 0.1575rem;
    background: var(--neutral-600);
    border-radius: 0.125rem;
    transition: 0.3s;
}

.hamburger:hover {
    opacity: 0.8;
}

/* auth navbar */
#auth-navbar .nav-search-container {
    width: 100%;
    max-width: calc(26rem * var(--ui-scale));
}

#auth-navbar .nav-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--line);
    border-radius: 100px;
    background: var(--neutral-50);
}

#auth-navbar .dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0;
    border-radius: 999px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
}

#auth-navbar .nav-search-icon-btn {
    border: none;
    outline: none;
    background: none;
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 100px;
    background: var(--primary-600);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

#auth-navbar .nav-search-icon-btn:hover {
    filter: brightness(0.95);
}

#auth-navbar .nav-search input {
    width: 100%;
    border-radius: 0;
}

#auth-navbar .nav-search .dropdown {
    margin-left: 0.5rem;
}

#auth-navbar .nav-search input:focus,
#auth-navbar .nav-search select:focus {
    border-color: none;
    box-shadow: initial;
}

#auth-navbar .nav-search select {
    font-weight: 500;
    width: max-content;
    border-radius: 0;
}

#auth-navbar .nav-search input,
#auth-navbar .nav-search select {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.nav-content-auth {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-content-auth .custom-search-btn {
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.725rem 0.875rem;
    border: none;
    color: var(--white);
    border-radius: 100px;
    background: var(--primary-600);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    width: max-content;
    transition: 0.3s;
}

.nav-content-auth .custom-search-btn:hover {
    filter: brightness(0.95);
}

.nav-content-auth .custom-search-btn i {
    font-size: 1.25rem;
}

#auth-navbar .nav-search-toggle {
    display: none;
}

/* khusus auth navbar, dari awal sudah di hamburgerkan */
#auth-navbar .nav-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    background: var(--white);
    z-index: 1100;
    height: 100dvh;
    flex-direction: column;
    translate: 100%;
    transition: 0.3s;
}

#auth-navbar .nav-links {
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    font-size: 1.5rem;
}

#auth-navbar .nav-action {
    margin: auto 0 2rem;
    border-top: 1px solid var(--line);
    width: 100%;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
}

#auth-navbar .hamburger {
    z-index: 1200;
    display: flex;
}

#auth-navbar .hamburger {
    margin-left: 0;
    order: -2;
}

#auth-navbar .nav-content-auth {
    margin-left: auto;
}

#auth-navbar .nav.nav-open .nav-content {
    box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
}

#auth-navbar .nav.nav-open .hamburger span:first-child {
    transform: rotate(45deg) translateY(8px);
    margin-left: 10px;
}

#auth-navbar .nav.nav-open .hamburger span:nth-child(2) {
    opacity: 0;
}

#auth-navbar .nav.nav-open .hamburger span:last-child {
    transform: rotate(-45deg) translateY(-8px);
    margin-left: 10px;
}

#auth-navbar .nav.nav-open .nav-content {
    translate: 0;
}

@media (max-width: 900px) {
    #guest-navbar .nav-content {
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        background: var(--white);
        z-index: 1100;
        height: 100dvh;
        flex-direction: column;
        translate: 100%;
        transition: 0.3s;
    }

    #auth-navbar .nav-content {
        width: 70vw;
    }

    #guest-navbar .nav-links {
        flex-direction: column;
        margin-top: 4rem;
        align-items: center;
        font-size: 1.5rem;
    }

    #guest-navbar .nav-action {
        margin: auto 0 2rem;
        border-top: 1px solid var(--line);
        width: 100%;
        gap: 1rem;
        justify-content: center;
        padding-top: 2rem;
    }

    #guest-navbar .hamburger {
        z-index: 1200;
        display: flex;
    }

    #guest-navbar .nav-content-auth {
        margin-left: auto;
    }

    #guest-navbar .nav.nav-open .nav-content {
        box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
    }

    #guest-navbar .nav.nav-open .hamburger span:first-child {
        transform: rotate(45deg) translateY(8px);
        margin-left: 10px;
    }

    #guest-navbar .nav.nav-open .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #guest-navbar .nav.nav-open .hamburger span:last-child {
        transform: rotate(-45deg) translateY(-8px);
        margin-left: 10px;
    }

    #guest-navbar .nav.nav-open .nav-content {
        translate: 0;
    }
}

@media (max-width: 768px) {
    /* nav auth */
    #auth-navbar .nav-search-toggle {
        display: block;
        cursor: pointer;
    }

    #auth-navbar .nav-search-toggle i {
        pointer-events: none;
        cursor: pointer;
    }

    #auth-navbar .nav-search-container {
        padding: 1rem;
        background: var(--white);
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: -100;
        border-bottom: 1px solid var(--line);
        max-width: none;

        opacity: 0;
        translate: 0 -30%;
        transition:
            0.3s opacity,
            0.3s translate;
    }

    #auth-navbar .nav-search-container .nav-search {
        visibility: hidden;
    }

    #auth-navbar .nav-search-container.nav-search-open {
        opacity: 1;
        translate: 0 0;
    }

    #auth-navbar .nav-search-toggle {
        display: flex;
        color: var(--neutral-600);
        order: -1;
        margin-left: 0;
    }

    #auth-navbar .nav-search-container.nav-search-open .nav-search {
        visibility: visible;
    }
}

@media (max-width: 480px) {
    .nav {
        gap: 0.5rem;
    }

    #auth-navbar .nav-links,
    #guest-navbar .nav-links {
        font-size: 1.25rem;
    }
}
