.allergy-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(1.125rem * var(--ui-scale));
}

.allergy-grid .card {
    border: 1px solid var(--neutral-400);
    border-radius: calc(0.75rem * var(--ui-scale));
    padding: calc(1.125rem * var(--ui-scale)) calc(0.75rem * var(--ui-scale)) calc(1rem * var(--ui-scale));
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
    background: var(--white);
}

.allergy-grid .card:hover {
    border-color: var(--primary-600);
    box-shadow: 0 calc(0.25rem * var(--ui-scale)) calc(0.875rem * var(--ui-scale)) rgba(0, 0, 0, 0.08);
    transform: translateY(calc(-0.125rem * var(--ui-scale)));
}

.allergy-grid .card-title {
    font-size: calc(0.9rem * var(--ui-scale));
    font-weight: 600;
    margin-bottom: calc(0.25rem * var(--ui-scale));
}

.allergy-grid .card-desc {
    font-size: calc(0.7875rem * var(--ui-scale));
    color: #555;
    line-height: 1.3;
}

.pref-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(1.125rem * var(--ui-scale));
}

.pref-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--neutral-400);
    border-radius: calc(0.625rem * var(--ui-scale));
    padding: calc(1.125rem * var(--ui-scale)) calc(0.5rem * var(--ui-scale));
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.pref-item:hover {
    box-shadow: 0 calc(0.25rem * var(--ui-scale)) calc(0.875rem * var(--ui-scale)) rgba(0, 0, 0, 0.08);
    transform: translateY(calc(-0.125rem * var(--ui-scale)));
    border-color: var(--primary-600);
}

.pref-item p {
    font-size: calc(0.9rem * var(--ui-scale));
    font-weight: 500;
}


/* shared */
.icon-box {
    width: calc(3.25rem * var(--ui-scale));
    height: calc(3.25rem * var(--ui-scale));
    margin: 0 auto calc(0.625rem * var(--ui-scale));
    border-radius: calc(0.375rem * var(--ui-scale));
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: calc(2.5rem * var(--ui-scale));
    height: calc(2.5rem * var(--ui-scale)); 
    object-fit: contain;;
    font-size: calc(1.875rem * var(--ui-scale));
}

.card.selected, .pref-item.selected{
    border-color: var(--primary-600);
    box-shadow: 0 calc(0.375rem * var(--ui-scale)) calc(1.125rem * var(--ui-scale)) rgba(34, 197, 94, 0.22);
    background: var(--primary-50);
}

@media (max-width: 450px) {
    .allergy-grid, .pref-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: calc(.8rem * var(--ui-scale));    
    }
}