#profile {
    padding-block: 3rem;
}

#profile .container {
    display: flex;
    gap: 4rem;
}

#profile .profile-left {
    flex: 1;
}

#profile .profile-right {
    flex: 3;
}

/* profile left start */
.profile-left .profile-image {
    width: 280px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid var(--line);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.01);
}

.profile-left .profile-image-container {
    position: relative;
    width: max-content;
}

.profile-image-container .reset-btn {
    width: 100%;
    margin-top: 1rem;
}

.profile-left .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-left .profile-fullname {
    font-size: 1.45rem;
    font-weight: 600;
}

.profile-left .profile-username {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--neutral-600);
}

.profile-bio {
    margin-block: 1rem;
    font-size: .9rem;
    font-weight: 500;
}


.profile-left .profile-other-infos {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding-left: 0rem;
}


.profile-left .profile-other-infos h4 {
    font-weight: 600;
}

.profile-left .profile-other-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: var(--neutral-600);
}

.profile-list {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--line);
}

.profile-list h4 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.profile-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.profile-list-items .profile-list-item {
    background-color: var(--neutral-200);
    padding: .25rem .5rem;
    border-radius: 4px;
    font-size: .85rem;
}

.edit-profile-btns {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    max-width: 150px;
}

/* profile dropdown */
#profile .edit-profile-dropdown {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.profile-image-edit-badge {
    z-index: 10;
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .425rem .5rem;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--primary-700);
    font-weight: 500;
    border: 1px solid var(--primary-700);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
    cursor: pointer;
}

.edit-profile-dropdown.open .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.edit-profile-dropdown .dropdown-item {
    padding: .5rem .85rem;
}

/* profile left end */


/* profile right start */
.profile-right {
    padding: 2rem;
    border: 1px solid var(--line);
    border-radius: 8px;
    height: max-content;
}

.profile-right h2.profile-right-title {
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid var(--line);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.profile-right .liked-recipes-count {
    color: var(--neutral-600);
    font-size: .9rem;
    font-weight: 500;
}
/* profile right end */


@media(max-width: 920px) {
    #profile .container {
        gap: 2rem;
    }

    .profile-left .profile-image {
        width: 250px;
    }

    #profile .edit-profile-dropdown {
        font-size: .9rem;
    }

}

@media (max-width: 768px) {
    #profile .container {
        flex-direction: column;
    }

    #profile .edit-profile-dropdown {
        font-size: .8rem;
        bottom: 1rem;
        right: -.5rem;
    }

    .profile-left .profile-image {
        width: 110px;
        margin-bottom: 0rem;
    }
    

    .profile-image-edit-badge {
        font-size: .8rem;
        bottom: 0rem;
        right: 0rem;
        /* translate: 50% -50%; */
    }

    #profile {
        padding-block: 2rem;
    }

    .profile-flex {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    #profile .profile-left,
    #profile .profile-right {
        flex: unset;
    }
}