#profile {
    padding-block: 4rem;
}

#profile .container {
    display: flex;
    gap: 4rem;
}

#profile .profile-left {
    flex: 1
}

#profile .profile-right {
    flex: 3;
}

/* profile left start */
.profile-left .profile-image {
    width: calc(clamp(200px, 50vw, 300px) * var(--ui-scale));
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid var(--line);
}

.profile-left .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-left .profile-fullname {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-left .profile-username {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-600);
}

.profile-bio {
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 500;
}

.profile-left .btn {
    width: 100%;
    margin-top: 1rem;
}


.profile-left .profile-other-infos {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.profile-left .profile-other-infos h4 {
    font-weight: 600;
}

.profile-left .profile-other-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: var(--neutral-600);
}

.profile-list {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--line);
}

.profile-list h4 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.profile-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.profile-list-items .profile-list-item {
    background-color: var(--neutral-200);
    padding: .25rem .5rem;
    border-radius: 4px;
    font-size: .85rem;
}

.profile-right {
    padding: 2rem;
    border: 1px solid var(--line);
    border-radius: 8px;
    height: max-content;
}

.profile-right h2 {
    margin-bottom: 1rem;
}

/* profile left end */


/* profile right start */

/* profile right end */
