#profile {
    padding-block: 4rem;
}

#profile .container {
    display: flex;
    gap: 4rem;
}

#profile .profile-left {
    flex: 1;
}

#profile .profile-right {
    flex: 3;
}

/* profile left start */
.profile-left .profile-image {
    width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid var(--line);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.profile-left .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-left .profile-fullname {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-left .profile-username {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-600);
}

.profile-bio {
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 500;
}

.profile-left .btn {
    width: 100%;
    margin-top: 1rem;
}


.profile-left .profile-other-infos {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.profile-left .profile-other-infos h4 {
    font-weight: 600;
}

.profile-left .profile-other-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: var(--neutral-600);
}

.profile-list {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--line);
}

.profile-list h4 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.profile-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.profile-list-items .profile-list-item {
    background-color: var(--neutral-200);
    padding: .25rem .5rem;
    border-radius: 4px;
    font-size: .85rem;
}
/* profile left end */


/* profile right start */
.profile-right {
    padding: 2rem;
    border: 1px solid var(--line);
    border-radius: 8px;
    height: max-content;
}

.profile-right h2.profile-right-title {
    border-bottom: 1px solid var(--line);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.profile-right .liked-recipes-count {
    color: var(--neutral-600);
    font-size: .9rem;
    font-weight: 500;
}
/* profile right end */


@media(max-width: 920px) {
    #profile .container {
        gap: 2rem;
    }

    .profile-left .profile-image {
        width: 250px;
    }
}

@media (max-width: 768px) {
    #profile .container {
        flex-direction: column;
    }

    .profile-left .profile-image {
        width: 100px;
    }

    #profile {
        padding-block: 2rem;
    }

    .profile-flex {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .edit-profile-btns {
        display: flex;
        gap: .5rem;
        max-width: 150px;
    }


    #profile .profile-left,
    #profile .profile-right {
        flex: unset;
    }
}