/* recipe container dan card ada di init.css */

#recipes-page {
    padding-block: 4rem;
}

#recipes-page .recipes-page-hero {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#recipes-page .recipes-page-hero-left {
    flex: 5;
}

#recipes-page .recipes-page-hero-left .recipes-page-hero-title {
    font-size: clamp(2.2rem, 4vw, 3rem);
    font-weight: 700;
}

#recipes-page .recipes-page-hero-left .recipes-page-hero-desc {
    font-size: 1rem;
    color: var(--muted);
    margin-top: 1rem;
}

#recipes-page .recipes-page-hero-right {
    flex: 4;
}

.recipe-show {
    width: 100%;
    height: 300px;
}

.recipe-show-card {
    border: 1px solid var(--neutral-400);
    transition: opacity 450ms ease;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    will-change: opacity;
    opacity: 0;

    position: relative;
}

.recipe-show-card.out {
    opacity: 0;
    pointer-events: none;
}

.recipe-show-card.in {
    opacity: 1;
}

.recipe-show-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.recipe-show-card .recipe-card-badge {
    position: absolute;
    top: initial;
    left: initial;
    bottom: 1rem;
    right: 1rem;
}

.recipes-search-form-second {
    display: none;
}

.custom-search-navigator {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: var(--accent-info-50);
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid var(--accent-info-500);
    font-size: 0.9rem;
}

.custom-search-navigator .btn {
    background: var(--accent-info-600);
    gap: 0.5rem;
}

#recipes-page .recipe-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: max-content;
    max-height: 100px;
}

#recipes-page .filter-pills {
    margin-left: auto;
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding-bottom: 0.25rem;
}

#recipes-page .recipe-filters .pill {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: 1px solid var(--neutral-300);
    background: var(--neutral-100);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 200ms ease;
}

#recipes-page .recipe-filters .pill:hover {
    background: var(--neutral-200);
    transition: all 200ms ease;
}

#recipes-page .recipe-filters .pill.active {
    background: var(--primary-600);
    color: white;
    border-color: var(--primary-700);
}

#recipes-page .recipe-filters .dropdown-trigger {
    border-radius: 6px;
    height: 100%;
    padding-inline: 1rem;
    border-color: var(--neutral-500);
}

.filters-sort {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filters-sort span.filters-text {
    font-size: 0.9rem;
    color: var(--neutral-700);
    display: none;
}

@media (max-width: 900px) {
    #recipes-page .recipes-page-hero-right {
        flex: 5;
    }

    .recipes-search-form-first {
        display: none;
    }

    .recipes-search-form-second {
        display: block;
    }

    #recipes-page .recipes-page-hero-left .recipes-page-hero-title {
        font-size: clamp(2rem, 4vw, 3rem);
        font-weight: 700;
    }

    .recipe-show {
        width: 100%;
        height: 250px;
    }

    #recipes-page .filter-pills {
        overflow-x: auto;
        width: 100%;
        margin-left: 0;
        gap: 0.5rem;
    }

    #recipes-page .filter-pills {
        scrollbar-width: thin;
        scrollbar-color: var(--neutral-300) transparent;
    }

    #recipes-page .filter-pills::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    #recipes-page .filter-pills::-webkit-scrollbar-track {
        background: transparent;
    }

    #recipes-page .filter-pills::-webkit-scrollbar-thumb {
        background-color: var(--neutral-300);
        border-radius: 999px;
    }

    #recipes-page .filter-pills::-webkit-scrollbar-thumb:hover {
        background-color: var(--neutral-400);
    }

    #recipes-page .filter-pills .pill {
        font-size: 0.85rem;
        text-wrap: nowrap;
    }
}

@media (max-width: 760px) {
    #recipes-page {
        padding-block: 3rem;
    }

    #recipes-page .recipes-page-hero-left .recipes-page-hero-title {
        max-width: 500px;
    }

    #recipes-page .recipes-page-hero-left .recipes-page-hero-desc {
        max-width: 500px;
    }

    #recipes-page .recipes-page-hero-right {
        display: none;
    }
}

@media (max-width: 480px) {
    #recipes-page .recipe-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    #recipes-page .recipe-filters .filter-pills {
        margin-left: 0;
    }

    .filters-sort span.filters-text {
        display: block;
    }

    .custom-search-navigator {
        align-items: flex-start;
        gap: .5rem;
        flex-direction: column;
    }
}
